.c-attendBox {
  background: #333333;
  display: flex;
  padding: 3rem;
  color: white;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.c-attendBox:last-child {
  margin-bottom: 0;
}

.c-attendBox .attendBox__title {
  height: 5rem;
  min-width: 5rem;
  position: relative;
  margin-right: 3rem;
}
.c-attendBox .attendBox__title h4 {
  font-size: 6rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  font-weight: 300;
}

.attendBox__name-box {
  display: flex;
  font-size: 1.8rem;
  font-family: 'jf-openhuninn';
  align-items: flex-start;
  flex-wrap: wrap;
}
.attendBox__name-box li {
  position: relative;
  margin-right: .5rem;
  margin-bottom: .5rem;
  letter-spacing: .2rem;
}

.attendBox__name-box li::before,
.attend-list-card .attend-count-box li .attend-count__lesson-name::before {
  content: '';
  height: .1rem;
  display: block;
  width: 40%;
  position: absolute;
  bottom: -.1rem;
  right: 0;
}

/* 全員到齊 */
.all-coming-messagebox {
  font-size: 6rem;
  text-align: center;
}

.all-coming-messagebox .all-coming-messagebox__content {
  position: relative;
}

.all-coming-messagebox .all-coming-messagebox__content::after {
  content: '';
  height: .1rem;
  width: 40%;
  display: block;
  background: var(--main-green);

  position: absolute;
  right: 0;
  bottom: 0;
}