@font-face {
  font-family: 'JasonHandwriting3';
  src: url(../font/JasonHandwriting3.ttf) format("truetype");
}
@font-face {
  font-family: 'Dokdo';
  src: url(../font/Dokdo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'jf-openhuninn';
  src: url(../font/jf-openhuninn-1.1.ttf) format('truetype');
}

.f-size30 {
  font-size: 3rem !important;
}
.f-size40 {
  font-size: 4rem !important;
}
.f-size50 {
  font-size: 5rem !important;
}
.f-size100 {
  font-size: 10rem !important;
}
