@import './variables.css';
@import './element-ui.css';
@import './animation.css';
@import './font.css';
@import './reset.css';
@import './complaint.css';
@import './deduction.css';
@import './nprogress.css';

.low576 {
  display: none;
}

.low768 {
  display: none;
}

@media screen and (max-width: 576px) {
  .low576 {
    display: block;
  }
}