:root {
  --background-color: #2E3347;
  --blue-2020: #0f4c81;
  --orange: #ff5100;
  --error-color: #994B54;
  
  --burger-tomato: #d63031;
  --burger-meat: #e17055;
  --burger-vagetable: #badc58;
  --burger-bread: #E3AE3C;

  /* 有用到 */
  --main-yellow: #E3AE3C;
  --main-jasmin: #EAB57F;
  --main-blue: #4A7D90;
  --main-green: #939249;
  --main-red: #C24F1A;
  --main-black: #524A47;
  --black: #000;

  --white: #fff;


  /* 收集還沒用 */
  --collect-green: #abc270;
  --collect-yellow: #fec868;
  --collect-orange: #fda769;
  --collect-black: #473c33;

  /* 這個不錯 https://uiiiuiii.com/inspiration/1616219819.html */
  /* 漸變參考 https://uiiiuiii.com/inspiration/1616201618.html */
}