.logoBox {
  background: var(--main-yellow);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 7rem;
}
.logoBox__logo {
  background: var(--black);
  color: var(--white);
  width: 5rem;
  text-align: center;
  font-family: 'Dokdo';
  border-radius: .5rem;
  cursor: pointer;
}