.o-loginContainer {
  background: var(--main-yellow);
  height: 100%;
  position: relative;
  color: var(--white);
  overflow: auto;
}

.loginContainer__title {
  font-family: 'Dokdo', cursive;
  text-align: center;
  margin-top: 2rem;
}
